
<div class="row">
    <div class="col-lg-12">

    </div>
</div>

<div class="alert alert-secondary" role="alert">
    <h4 class="alert-heading">Welcome!</h4>
    <p>Aww yeah, you successfully read this important alert message.</p>
    <hr>

    <div class="input-group mb-3">
        <input id="txtLongUrl" type="text" class="form-control form-control-lg" placeholder="Shorten your link" aria-label="Shorten your link" aria-describedby="button-addon2">
        <div class="input-group-append">
            <button id="button-shorten" class="btn btn-primary" type="button" onclick="yawl.router.default.clickShorten();">
                <span class="spinner-border spinner-border-sm d-none" role="status" aria-hidden="true"></span>
                <span class="shorten-button-text">Shorten</span>
            </button>
        </div>
    </div>
    <div id="resultBar" class="alert alert-primary d-none" role="alert">
        Success! Your short url <a id="shortenLink" href="#" target="_blank" class="alert-link"></a>
        <button class="btn btn-sm btn-outline-success float-right button-copy"> Copy</button>
    </div>

</div>