<div class="container">
    <div class="row">
        <div class="row">
            <div class="col">&nbsp;</div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="text-center">
                <h1 class="display-4">Yawl Url</h1>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">

        </div>
        <div class="col-10">
            <div class="input-group mb-3">
                <input type="text" class="form-control form-control-lg" placeholder="Shorten your link" aria-label="Shorten your link" aria-describedby="button-addon2">
                <div class="input-group-append">
                    <button id="button-shorten" class="btn btn-outline-primary" type="button">Shorten</button>
                </div>
            </div>
            <div class="alert alert-success" role="alert">
                Success! Your short url <a href="#" class="alert-link">an example link</a>.
                <button class="btn btn-sm btn-info float-right"> Copy</button>
            </div>
        </div>
        <div class="col">

        </div>
    </div>
</div>

@section Scripts {
    <script type="text/javascript">
       alert("Hello")
    </script>
}